html {
  height: 100%;
  width: 100%;

}

body {
  background-color:#1C7293;
    font-family: "Cantarell", sans-serif;
  font-size: 16px;
  color: #F2EFEA;
  display: inline-block;
  text-align: center;
  margin-inline: auto;
  padding-left: 10em;
  padding-right: 10em;
}

.header {
  padding-top: 25px;
  margin-bottom: 80px;
  text-align: center;
  padding-bottom: 50px;
}

#header-img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 100%;
}

#header-left {
  width: 50%;
  margin-left: auto;
}

#header-right {
  width: 50%;
  margin-left: auto;
}

#header-button {
}

h1 {
  color: #white;
}

.fontStyle {
  font-style: italic;
}

p {
  font-size: 16px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: start;
}

a {
  text-decoration: none;
  color: white;
}
a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: green;
}

a:active{
  text-decoration: none;
  color: yellow;
}

button {
  background-color:  #008CBA;
  border: none;
  color: white;
  font-size: 16cfdpx;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover{
  background-color: transparent;
  color: #008CBA;
  border: 2px solid #008CBA;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #008CBA;
  color: white;
  padding: 5px;
  height: 60px;
}

.footer-links {
  color: white;
  display: inline-block;
  padding-top: 5px;
}
