.navbar {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  color: #FFFFFA;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  position: static;
  top: 0; 
  padding-right: 0;
}

.navbar ul li {
  display: inline-block;
  float: left;
  margin: 30px;
  font-weight: bold;
}

.navbar ul li a {
  display: block;
  font-family: Arial;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.navbar ul li a:hover {
  font-weight: bolder;
  color: #F8BD7F;
}

body {
  background-color: #FFFFFA;
  font-family: "Cantarell", sans-serif;
  font-size: 16px;
  color: #247B7B;
  text-align: center;
}

.background-container {
  background-image: url('ocean.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 10%;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  margin: 120px;
  text-align: right;
  justify-content: flex-start;
  align-items: start;
}

/* #header-img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 100%;
} */

.header-item:nth-of-type(1) {
  width: 50%;
  margin-left: auto;
  font-size: 20px;
  color: #00798C
}

.header-item:nth-of-type(2) {
  width: 50%;
  margin-right: auto;
  color: #FFFFFA;
  font-size: 18px;
}

.header-button {
  background-color: white;
  border: none;
  color: #00798C;
  font-size: 16cfdpx;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

.about-section {
  background-color: white;
  color: #00798C;
  margin-top: 30px;
  margin-bottom: 30px;
}

.columns {
  display: flex;
}
.area {
  background-color: white;
  color: #00798C;
  display: flex;
  justify-content: space-between; 
  height: 500px; 
  flex-wrap: wrap;
}

.area-columns {
  background-color: #F0F8EA;
  flex: 1; 
  max-width: 30%; 
  margin: 0 10px; 
}

.area-p {
  display: flex;
  margin: auto;
  
}

h1 {
  color: white;
}

.fontStyle {
  font-style: italic;
}

p {
  font-size: 16px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: start;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: green;
}

a:active {
  text-decoration: none;
  color: yellow;
}

.img-round {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 30px;
}

.header-button:hover {
  background-color: transparent;
  color: #00798C;
  border: 2px solid white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(68, 161, 160, 0.8);
  color: white;
  padding: 20px;
  height: 45px;
  margin-top: auto;
}

.footer-links {
  color: white;
  display: inline-block;
  padding-top: 5px;
}