html {
  height: 100%;
  width: 100%;
}

body {
  background-color:#F7F9F9
  font-family: "times new roman", sans-serif";
  background-image: url('');
  /* Customize the font, size, and color for text*/
  font-size: 16px;
  color: black;
  display: inline-block;
  text-align: center;
  /* Adjust the padding and margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  
}

.top {
  padding-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  padding-bottom: 50px;
}

#header-img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 50%;
}

#header-left {

}

#header-right {
  
}

#header-button {

}

h1 {
  color: #1C7293;
}

.fontStyle {
  font-style: italic;
}

p {
  font-size: 16px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: purple;
}

a:hover{
  color: blue;
}

a:active{
  color: yellow;
}

button {
  background-color:  #008CBA;
  border: none;
  color: white;
  font-size: 16cfdpx;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover{
  background-color: transparent;
  color: #008CBA;
  border: 2px solid #008CBA;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #008CBA;
  color: white;
  padding: 5px;
  height: 60px;
}

.footer-links {
  color: white;
  display: inline-block;
  padding-top: 5px;
}
